<h1 class="title text-center">Eat-Da-Burger!</h1>
<div class="container main-container">
  <div class="row">
    <div class="col" id="list-burger">

      <h2>Let's Eat!</h2>

      <ul>
        {{#each burger}}
        {{#unless devour}}
        {{> burger/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>
    <div class="col" id="burger-jpeg">
      <img src="assets/img/download.jpeg" alt="burger pic" id="jpeg">
    </div>

    <div class="col" id="list-devour">
      <h2>Yum Yum!</h2>

      <ul>
        {{#each burger}}
        {{#if devour}}
        {{> burger/burger-eaten devour=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="container input">
  <div class="row col-md-12 justify-content-around">
    <form class="create-form" class="text-center">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">


    

      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>