li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    list-style: none;
  }
  
  .label {
    font-weight: bold;
  }
  
  
  .form-group {
    margin-bottom: 5px;
  }

  .input {
  color: white;
  text-align: center;
  }

  body {
    background-color: crimson;
  }

  h1 {
    padding-top: 5rem;
  }

  .main-container {
    padding: 4rem;
  }
  #burger-jpeg {
    padding-left: 5rem;
  }

  